/* #############################################################################
##############################   OVERALL STYLES   ##############################
############################################################################## */

body{



}


/* =============================================================================
   HEADER
============================================================================== */
.header{
  position: relative;
  height:300px;
  background-color: blue;
}

.navigation{
  background-color: red ;
  text-align: center;
  width:100%;
  margin:auto;
  bottom: 0;
  position:absolute;

}

.navigation a {
  font-size: 26px;
  color:white;
  padding:5px 25px;

}

/* =============================================================================
   BODY
============================================================================== */


/* =============================================================================
   FOOTER
============================================================================== */


.footer {
  text-align: center;
  padding-top: 10px;
  height:200px;
  width:auto;
  background-color: green;
  bottom: 0;

}



/* #############################################################################
##############################   SPECIFIC PAGES   ##############################
############################################################################## */


/* =============================================================================
   "Acceuil" page
============================================================================== */

/*première article du site*/
.Intro{
  margin:30px auto;
}

.photo{
  padding: 5px;
  height:450px;
  background-image: url(../img/plumber.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

section div{
  margin: 10PX auto;
  /*border: 2px solid black;*/
}

/* =============================================================================
   "About" page
============================================================================== */


/* =============================================================================
   "Contact" page
============================================================================== */


/* =============================================================================
   "Devis" page
============================================================================== */


/* #############################################################################
##############################   MEDIA QUERYS   ##############################
############################################################################## */


/* =============================================================================
  SMALL
============================================================================= */

@media only screen and (max-width:450px){

}

/* =============================================================================
  MEDIUM
============================================================================= */



/* =============================================================================
  LARGE
============================================================================= */
