/* #############################################################################
##############################   OVERALL STYLES   ##############################
############################################################################## */

body{

  font-family: 'Catamaran', sans-serif;
  background-color: #ccc;

}

section{

  background-color: #eee;

}

/* =============================================================================
   HEADER
============================================================================== */

.header{
  background-image: url(../img/plomba.jpg);
  background-size:auto;
  background-position: top-center;
  position: relative;
  height:300px;
  text-align: center;
}


#titre{
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color:white;
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 20px;
  position:absolute;
  top:20px;
  left:30%;
  right:30%;

}

.navigation{
  background-color: red ;
  text-align: center;
  width:100%;
  margin:auto;
  bottom: 0;
  position:absolute;
  font-family: 'Montserrat', sans-serif;

}

.navigation a {
  font-size: 26px;
  color:white;
  padding:5px 25px;

}

.navbar-nav {
    margin: auto;
}


/* =============================================================================
   BODY
============================================================================== */

section {

  padding: 20px;

}

/* =============================================================================
   FOOTER
============================================================================== */
.footer-list{

  padding:20px;

}

.footer-list ul {

  display: inline-block;
  text-align: left;
  list-style: none;

}

.footer {
  text-align: center;
  padding-top: 10px;
  height:250px;
  width:auto;
  background-color: #ddd;
  bottom: 0;

}



/* #############################################################################
##############################   SPECIFIC PAGES   ##############################
############################################################################## */


/* =============================================================================
   "Acceuil" page
============================================================================== */

/*première article du site*/
.Intro{
  margin:30px auto;
}

.photo{
  padding: 5px;
  height:450px;
  background-image: url(../img/plumber.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

section div{
  margin: 15PX auto;
  /*border: 2px solid black;*/
}

.sous-text{

  width: auto;
  padding: 10px 20px 5px;
  background-color: #ddd;

}

/* =============================================================================
   "About" page
============================================================================== */


/* =============================================================================
   "Contact" page
============================================================================== */
select {
  background: rgba(255,255,255,0.5);
  border:1px solid #ccc;
  border-bottom: 3px solid #ccc;
  font-size: 18px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 8px;
}

.send {
  padding: 19px 39px 18px 39px;
  background-color: #fff;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  margin:15px auto;
  width: 100%;
  border:none;
}

.send:hover{
  border: none;
  color: #fff;
  background-color: red;

}

/* =============================================================================
   "Devis" page
============================================================================== */

.formulaire{

  width: 450px;

font-weight:
}

.formulaire div{

  margin:30px 0;
}

.devis_texte{

  font-weight: bolder;
}

.envoyer{

  border: none;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  padding: 10px 25px;
  width: 100%;
  margin:10px auto 40px;

}

.envoyer:hover{
  border: none;
  color: #fff;
  background-color: red;
  margin:10px auto 40px;

}

/* #############################################################################
##############################   MEDIA QUERYS   ##############################
############################################################################## */


/* =============================================================================
  SMALL
============================================================================= */

@media only screen and (max-width:450px){

}

/* =============================================================================
  MEDIUM
============================================================================= */

@media only screen and (max-width:750px){

#titre {
  font-size: 20px;
  top:20px;
  left:15%;
  right:15%;

}


  .hide_responsive{

    display: none;

  }

}

/* =============================================================================
  LARGE
============================================================================= */
@media only screen and (min-width:750px){

  #titre {
    font-size: 20px;
    top:20px;
    left:20%;
    right:20%;

  }


  section {
    width:960px;
    margin:auto;
  }

}

@media only screen and (min-width:1050px){

  #titre {
    font-size: 20px;
    top:20px;
    left:30%;
    right:30%;

  }


  section {
    width:960px;
    margin:auto;
  }

}
